# Ignore video files
*.mp4
*.avi
*.mov
*.wmv
*.mkv

# Ignore image files
*.jpg
*.jpeg
# *.png
*.gif
*.bmp
*.tiff

# tempory test script

# Ignore output text files

randomNano.pt

# Ignore Python compilation files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Ignore virtual environment folders
venv/
env/
ENV/

# Ignore IDE files
.idea/
.vscode/
*.swp
*.swo
.DS_Store